/*-------------------------------------------------------------
RESET
-------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*--------------------------------------------------------------
End Reset
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Generel styling
--------------------------------------------------------------*/

body {
	margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

figure {
	margin: 0;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

img.scalepic50r {
	display: block;
    float: right;
    margin: .5em;
	max-width: 50%;
	height: auto;
}

img.scalepic50m {
	display: block;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
	max-width: 50%;
	height: auto;
}

img.scalepic50l {
	display: block;
    float: left;
    margin: .5em;
	max-width: 50%;
	height: auto;
}

img.scalepic30r {
	display: block;
    float: right;
    margin: .5em;
	max-width: 30%;
	height: auto;
}

img.scalepic30m {
	display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
	max-width: 30%;
	height: auto;
}

img.scalepic30l {
	display: block;
    float: left;
    margin: .5em;
	max-width: 30%;
	height: auto;
}

img.scalepic20r {
	display: block;
    float: right;
    margin: .5em;
	max-width: 20%;
	height: auto;
}

img.scalepic20m {
	display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
	max-width: 20%;
	height: auto;
}

img.scalepic20l {
	display: block;
    float: left;
    margin: .5em;
	max-width: 20%;
	height: auto;
}

.clearfix {
    overflow: auto;
}

img.mepic {
    border-radius: 50%;
}

footer {
    background-color: #b44057;
    max-width: 97%;
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-size: .9em;
    padding: 0.3em;
    text-align: center;
    color: #faebd7;
    margin-top: 10px;
}

main a:link {
  color: black;
}

main a:visited {
  color: black;
}

.index {
	max-width: 97%;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;

}

.index a {
	display: block;
	text-decoration: none;
}

.index .tiltop {
    font-size: 1em;
    line-height: 1em;
    padding: .3em;
    text-align: center;
    background-color: #b44057;  
}

.index .tiltop :link {
  color: #faebd7;
}

.index .tiltop :visited {
  color: #faebd7;
}

.index .tiltop:hover, index .tiltop:active {
    box-shadow: 5px 5px 0px 0px #a57e7e;
}

.subindex a {
	display: block;
	text-decoration: none;
}

.subindex .tiltop {
    font-size: 1em;
    line-height: 1em;
    padding: .3em;
    text-align: center;
    background-color: #b44057;  
}

.subindex .tiltop :link {
  color: #faebd7;
}

.subindex .tiltop :visited {
  color: #faebd7;
}

.subindex .tiltop:hover, subindex .tiltop:active {
    box-shadow: 5px 5px 0px 0px #a57e7e;
}

.subindex .dokumentlink {
    background-color: #b44057;
    padding: .3em;
}

.subindex .dokumentlink {
    font-size: 1em;
    line-height: 1em;
    padding: .3em;
    text-align: center;
    background-color: #b44057;  
}

.subindex .dokumentlink :link {
  color: #faebd7;
}

.subindex .dokumentlink :visited {
  color: #faebd7;
}

.subindex .dokumentlink:hover, subindex .dokumentlink:active {
    box-shadow: 5px 5px 0px 0px #a57e7e;
}

.index a:hover, index a:active {
	font-size: 110%;
    box-shadow: 5px 5px 0px 0px #b3b3b3;
}
.kort a {
    width: 100%;
}

.main-area a:visited {
  color: black;
}

body h2 {
	font-size: 1.3em;
    line-height: 1em;
    margin: 0;
	color: black;
}

body h3 {
    font-size: 1em;
    line-height: 1em;
    margin-top: .5em;
	color: black;
}

body h4 {
	font-size: .7em;
    line-height: 1em;
    margin-top: 1em;
	color: black;
    text-decoration: none;
} 

body .ital {
    font-style: italic;
    line-height: 1em;
    margin-top: .5em;
	color: black;
}   

.billedtekst p {
	margin-top: 0.5em;
    font-size: 1em;
	margin-bottom: .2em;
    color: black;
}

.line {
    display: block;
    width: 90%;
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    background: #717171;
    }

.billedtekst {
    margin: 1em;
}

/*--------------------------------------------------------------
CSS Grid layout for desktop:
--------------------------------------------------------------*/
@media screen and (min-width: 1101px) {
    
        .me .tiltop, .web .tiltop, .design .tiltop, .komm .tiltop, .think .tiltop, .andet .tiltop, .onepage .tiltop, .refl .tiltop {
            display: none;
        }

        .main-area {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            justify-content: center;
        }
    
        .index {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            justify-content: center;
        }
        
/* Main Side Start */
        
        .kort {
            padding: .5em;
            display: grid;
            grid-gap: .4em;
            grid-template-columns: 1fr;
        }
        
/* Om mig og denne side */
        
        .me {
            grid-column: 2;
            grid-row: 1/3;
		}
        
       .me .billedtekst {
            grid-column: 2;
            grid-row: 1;
        }
    
/* Webudvikling */
    
        .web {
            grid-column: 1;
            grid-row: 1;
		}
        
       .web .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
/* Design */
    
        .design {
            grid-column: 3;
            grid-row: 1;
		}
        
       .design .billedtekst {
            grid-column: 3;
            grid-row: 1;
        }
    
/* Kommunikation */
    
        .komm {
            grid-column: 3;
            grid-row: 2;
		}
               
       .komm .billedtekst {
            grid-column: 3;
            grid-row: 2;
        }
    
 /* Design Thinking */
    
        .think {
            grid-column: 1;
            grid-row: 2;
		}
        
       .think .billedtekst {
            grid-column: 1;
        }
    
/* Alt det andet */
    
        .andet {
            grid-column: 1;
            grid-row: 3;
		}
        
       .andet .billedtekst {
            grid-column: 1;
        }
    
/* One page projekt */
    
        .onepage {
            grid-column: 2;
            grid-row: 3;
		}
        
       .onepage .billedtekst {
            grid-column: 2;
        }
    
/* Reflektioner */
    
        .refl {
            grid-column: 3;
            grid-row: 3;
		}
        
        .refl .billedtekst {
            grid-column: 3;
        }
        
                                 /* Main Side Slut */
        
/* Undersider Start */
        
        .subindex {
            max-width: 97%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            justify-content: center;
        }
        
        .subindex a:focus,
        .subindex a:hover {
            outline: 1px solid #cccccc;
        }
        
        .subkort a {
            width: 100%;
        }
        
        .subkort {
			max-width: 100%;
            margin: .5em;
            padding: .3;
			display: grid;
			grid-template-columns: 1fr;
            grid-gap: 1em;
		}
    
/* Webudvikling Start  */
                
/* HTML */
        
        .subhtml {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subhtml .billedtekst {
            grid-column: 1;
        }
    
        .subhtml .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* CSS */
        
        .subcss {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subcss .billedtekst {
            grid-column: 1;
        }
    
        .subcss .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Server */
        
        .subserver {
            grid-column: 1;
            grid-row: 4;
        }
        
       .subserver .billedtekst {
            grid-column: 1;
        }
    
        .subserver .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Internettets historie */
        
        .subhistorie {
            grid-column: 2;
            grid-row: 4;
        }
        
       .subhistorie .billedtekst {
            grid-column: 1;
        }
    
        .subhistorie .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* CSS Grid */
        
        .subgrid {
            grid-column: span 2;
            grid-row: 3;
        }
        
       .subgrid .billedtekst {
            grid-column: 1;
        }
    
        .subgrid .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Versionsstyring */
        
        .subversion {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subversion .billedtekst {
            grid-column: 1;
        }
    
        .subversion .tiltop {
            grid-column: 1;
            grid-row: 2;
        }    
        
/* Informationarkitektur */
        
        .subarkitektur {
            grid-column: 2;
            grid-row: 2;
        }
        
       .subarkitektur .billedtekst {
            grid-column: 1;
        }
    
        .subarkitektur .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design Start  */
        
/* Photoshop */
        
        .subpsd {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subpsd .billedtekst {
            grid-column: 1;
        }
        
       .subpsd .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Illustrator */
        
        .subill {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subill .billedtekst {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subill .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Farve og typografi */
        
        .subft {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subft .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subft .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Gestaltlove */
        
        .subges {
            grid-column: span 4;
            grid-row: 3;
        }
        
       .subges .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subges .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Fotografering */
        
        .subfoto {
            grid-column: 2;
            grid-row: 2;
        }
        
       .subfoto .billedtekst {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subfoto .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Kommunikation Start */
        
/* Brugertest */
        
        .subbruger {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subbruger .billedtekst {
            grid-column: 2;
        }
        
       .subbruger .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Kommunikation og produktions modeller */
        
        .subkommunikation {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subkommunikation .billedtekst {
            grid-column: 1;
        }
    
        .subkommunikation .tiltop {
            grid-column: span 2;
            grid-row: 3;
        }
        
        
/* Præsentationsteknik */
        
        .subpræsentation {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subpræsentation .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subpræsentation .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Tekstproduktion Start */
        
        .subtekst {
            grid-column: 2;
            grid-row: 2;
        }
        
       .subtekst .billedtekst {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subtekst .tiltop {
            grid-column: span 2;
            grid-row: 3;
        }
        
/* Business Model Canvas */
        
        .subbusiness {
            grid-column: span 4;
            grid-row: 3;
        }
        
       .subbusiness .billedtekst {
            grid-column: span 4;
            grid-row: 1;
        }
        
       .subbusiness .tiltop {
            grid-column: span 2;
            grid-row: s;
        }

/* Design Thinking */
        
        .subdthinking {
            grid-column: span 2;
            grid-row: 1;
        }        
       .subdthinking .billedtekst {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subdthinking .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Design Thinking Projekt */
        
        .subdtprojekt {
            grid-column: span 2;
            grid-row:2;
        }
        
       .subdtprojekt .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }

       .subdtprojekt .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }

        
/* Quick and dirty */
        
        .subquick {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subquick .billedtekst {
            grid-column: 1;
        }
        
       .subquick .tiltop {
            grid-column: span 2;
            grid-row: 3;
        }
        
/* Virksomhedsbesøg */
        
        .subvirk {
            grid-column: 2;
            grid-row: 1;
        }        
        
       .subvirk .billedtekst {
            grid-column: 2;
        }
        
       .subvirk .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Online marketing */
        
        .submark {
            grid-column: 1;
            grid-row: 2;
        }
        
       .submark .billedtekst {
            grid-column: 1;
        }
        
       .submark .tiltop {
            grid-column: span 2;
            grid-row: 3;
        }
        
/* Dialog med håndgribelige genstande */
        
        .subdialog {
            grid-column: 2;
            grid-row: 2;
        }
        
       .subdialog .billedtekst {
            grid-column: 2;
            grid-row: 1;
        }
        
       .subdialog .tiltop {
            grid-column: span 2;
            grid-row: 3;
        }
    
/* One Page Projekt */
        
        .subonep {
            grid-column: span 4;
            grid-row: 1;
        }
        
        .subonep .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subonep .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Reflektioner */
        
        .subrefl {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subrefl .billedtekst {
            grid-column: 1;
        }
        
       .subrefl .tiltop {
            grid-column: 1;
            grid-row: 2;
        }

}
                    /* Main Side Slut */

/*--------------------------------------------------------------
CSS Grid layout for tablet:
--------------------------------------------------------------*/

@media screen and (min-width: 601px) and (max-width: 1100px) {

        .main-area {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            justify-content: center;

        }
    
        .index {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1em;
            justify-content: center;

        }
        
/* Main Side Start */
        
        .kort {
            padding: .5em;
            display: grid;
            grid-gap: .4em;
            grid-template-columns: 1fr;
        }
    
/* Om mig */
        
    .me {
           grid-column: span 4;
           grid-row: 1;
		}
        
        .me .billedtekst {
            grid-column: 1;
        }
        
       .me .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Webudvikling */
    
        .web {
            grid-column: span 2;
            grid-row: 2;
		}
        
        .web .billedtekst {
            grid-column: 1;
        }
        
       .web .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Kommunikation */
    
        .komm {
            grid-column: span 2;
            grid-row: 3;
        }
        
       .komm .billedtekst {
            grid-column: 1;
        }
        
       .komm .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Design */
    
        .design {
            grid-column: span 2;
            grid-row: 2;
		}
        
       .design .billedtekst {
            grid-column: 2;
        }
        
       .design .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
    
/* Design Thinking */
    
        .think {
            grid-column: span 2;
            grid-row: 3;
		}
        
       .think .billedtekst {
            grid-column: 2;
        }
        
       .think .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
    
/* One Page Projekt */
    
        .onepage {
            grid-column: span 2;
            grid-row: 4;
		}
        
        .onepage .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
        .onepage .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
    
/* Alt det andet */
    
        .andet {
            grid-column: span 2;
            grid-row: 4;
		}
        
       .andet .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .andet .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Reflektioner */
    
        .refl {
            grid-column: span 4;
            grid-row: 5;
		}
        
       .refl .billedtekst {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .refl .tiltop {
            grid-column: span 4;
            grid-row: 2;
        }

                                 /* Main Side Slut */
        
/* Undersider Start */
        
        .subindex {
            width: 97%;
            margin: auto;
            max-width: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
        }
        
        .subindex a:focus,
        .subindex a:hover {
            outline: 1px solid #cccccc;
        }
        
        .subkort a {
            width: 100%;
        }
        
        .subkort {
			max-width: 100%;
            margin: .5em;
            padding-top: .3em;
			display: grid;
			grid-template-columns: 1fr;
            grid-gap: 1em;
		}
        
/* Design Start  */
        
/* Photoshop */
        
        .subpsd {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subpsd .billedtekst {
            grid-column: 1;
        }
        
       .subpsd .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Illustrator */
        
        .subill {
            grid-column: 1/3;
            grid-row: 1;
        }
        
       .subill .billedtekst {
            grid-column: 1;
        }
        
       .subill .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Farve og typografi */
        
        .subft {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subft .billedtekst {
            grid-column: 1;
        }
    
       .subft .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Gestaltlove */
        
        .subges {
            grid-column: 1/5;
            grid-row: 3;
        }
        
       .subges .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subges .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Fotografering */
        
        .subfoto {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subfoto .billedtekst {
            grid-column: 1;
        }
        
       .subfoto .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Webudvikling Start */
                
/* HTML */
        
        .subhtml {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subhtml .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subhtml .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* CSS */
        
        .subcss {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subcss .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subcss .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Server */
        
        .subserver {
            grid-column: span 2;
            grid-row: 4;
        }
        
       .subserver .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subserver .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Internettets historie */
        
        .subhistorie {
            grid-column: span 4;
            grid-row: 3;
        }
        
       .subhistorie .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subhistorie .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* CSS Grid */
        
        .subgrid {
            grid-column: span 2;
            grid-row: 4;
        }
        
       .subgrid .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subgrid .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Versionsstyring */
        
        .subversion {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subversion .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subversion .tiltop {
            grid-column: 1;
            grid-row: 2;
        }    
        
/* Informationarkitektur */
        
        .subarkitektur {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subarkitektur .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .subarkitektur .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Kommunikation Start */
        
/* Brugertest */
        
        .subbruger {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subbruger .billedtekst {
            grid-column: 1;
        }
    
        .subbruger .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Præsentationsteknik */
        
        .subkommunikation {
            grid-column: span 2;
            grid-row: 1;
        }
        
       .subkommunikation .billedtekst {
            grid-column: 1;
        }
    
        .subkommunikation .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
        
/* Præsentationsteknik */
        
        .subpræsentation {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subpræsentation .billedtekst {
            grid-column: 1;
        }
        
       .subpræsentation .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Tekstproduktion Start */
        
        .subtekst {
            grid-column: span 2;
            grid-row: 2;
        }
        
       .subtekst .billedtekst {
            grid-column: 1;
        }
        
       .subtekst .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Business Model Canvas */
        
        .subbusiness {
            grid-column: span 4;
            grid-row: 4;
        }
        
       .subbusiness .billedtekst4 {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subbusiness .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Quick and dirty */
        
        .subquick {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subquick .billedtekst {
            grid-column: 1;
        }
        
       .subquick .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Virksomhedsbesøg */
        
        .subvirk {
            grid-column: 2/5;
            grid-row: 1;
        }        
        
       .subvirk .billedtekst {
            grid-column: 2;
        }
        
       .subvirk .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Online marketing */
        
        .submark {
            grid-column: 1;
            grid-row: 2;
        }
        
       .submark .billedtekst {
            grid-column: 1;
        }
        
       .submark .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Dialog med håndgribelige genstande */
        
        .subdialog {
            grid-column: 2/5;
            grid-row: 2;
        }
        
       .subdialog .billedtekst {
            grid-column: 2;
        }
        
       .subdialog .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Design Thinking */
        
        .subdthinking {
            grid-column: span 4;
            grid-row: 1;
        }
        
       .subdthinking .billedtekst {
            grid-column: 1;
        }
        
       .subdthinking .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design Thinking Projekt */
        
        .subdtprojekt {
            grid-column: span 4;
            grid-row: 2;
        }
        
       .subdtprojekt .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subdtprojekt .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* One Page Projekt */
        
        .subonep {
            grid-column: span 4;
            grid-row: 1;
        }
        
       .subonep .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subonep .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Reflektioner */
        
        .subrefl {
            grid-column: span 4;
            grid-row: 1;
        }
        
       .subrefl .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subrefl .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
}

/*--------------------------------------------------------------
CSS Grid layout for mobil:
--------------------------------------------------------------*/

@media screen and (max-width: 600px) {

        .index {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            justify-content: center;
        }
        
/* Main Side Start */
        
        .kort {
            padding: .5em;
            display: grid;
            grid-gap: .3em;
            grid-template-columns: 1fr;
        }
        
/* Om mig */
        
        .me {
            grid-column: 1;
            grid-row: 1;
		}
        
        .me .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .me .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Webudvikling */
    
        .web {
            grid-column: 1;
            grid-row: 2;
		}
        
       .web .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .web .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design */
    
        .design {
            grid-column: 1;
            grid-row: 3;
		}
        
       .design .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .design .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Kommunikation */
    
        .komm {
            grid-column: 1;
            grid-row: 4;
		}
        
       .komm .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .komm .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design Thinking */
    
        .think {
            grid-column: 1;
            grid-row: 5;
		}
        
       .think .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .think .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Alt det andet */
    
        .andet {
            grid-column: 1;
            grid-row: 6;
		}
        
       .andet .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
    
        .andet .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* One Page Projekt */
    
        .onepage {
            grid-column: 1;
            grid-row: 7;
		}
        
       .onepage .billedtekst {
            grid-column: 1;
        }
    
        .onepage .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Reflektioner */
    
        .refl {
            grid-column: 1;
            grid-row: 8;
		}
        
       .refl .billedtekst {
            grid-column: 1;
        }
    
        .refl .tiltop {
            grid-column: 1;
            grid-row: 2;
        }

                                 /* Main Side Slut */
/* Undersider Start */
        
        .subindex {
            width: 97%;
            margin: auto;
            max-width: none;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            justify-content: center;
        }
        
        .subindex a:focus,
        .subindex a:hover {
            outline: 1px solid #cccccc;
        }
        
        .subkort a {
            width: 100%;
        }
        
        .subkort {
			max-width: 100%;
            margin: .5em;
			display: grid;
			grid-template-columns: 1fr;
            grid-gap: 1em;
		}
        
/* Design Start  */
        
/* Photoshop */
        
        .subpsd {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subpsd .billedtekst {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subpsd .tiltop {
            grid-column: span 2;
            grid-row: 2;
        }
        
/* Illustrator */
        
        .subill {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subill .billedtekst {
            grid-column: 1;
        }
        
       .subill .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Farve og typografi */
        
        .subft {
            grid-column: 1;
            grid-row: 3;
        }
        
       .subft .billedtekst {
            grid-column: 1;
        }
        
       .subft .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Gestaltlove */
        
        .subges {
            grid-column: 1;
            grid-row: 4;
        }
        
       .subges .billedtekst {
            grid-column: 1;
        }
    
       .subges .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Fotografering */
        
        .subfoto {
            grid-column: 1;
            grid-row: 5;
        }
        
       .subfoto .billedtekst {
            grid-column: 1;
        }
        
       .subfoto .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Webudvikling Start  */
                
/* HTML */
        
        .subhtml {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subhtml .billedtekst {
            grid-column: 1;
        }
        
       .subhtml .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
                
/* CSS */
        
        .subcss {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subcss .billedtekst {
            grid-column: 1;
        }
    
        .subcss .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Server */
        
        .subserver {
            grid-column: 1;
            grid-row: 3;
        }
        
       .subserver .billedtekst {
            grid-column: 1;
        }
    
        .subserver .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Internettets historie */
        
        .subhistorie {
            grid-column: 1;
            grid-row: 7;
        }
        
       .subhistorie .billedtekst {
            grid-column: 2;
        }
    
        .subhistorie .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* CSS Grid */
        
        .subgrid {
            grid-column: 1;
            grid-row: 4;
        }
        
       .subgrid .billedtekst {
            grid-column: 1;
           
        }    
        .subgrid .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Versionsstyring */
        
        .subversion {
            grid-column: 1;
            grid-row: 5;
        }
        
       .subversion .billedtekst {
            grid-column: 1;
        }
    
        .subversion .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Informationarkitektur */
        
        .subarkitektur {
            grid-column: 1;
            grid-row: 6;
        }
        
       .subarkitektur .billedtekst {
            grid-column: 1;
        }
    
        .subarkitektur .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
        
/* Kommunikation Start */
        
/* Brugertest */
        
        .subbruger {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subbruger .billedtekst {
            grid-column: 1;
        }
        
       .subbruger .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Præsentationsteknik */
        
        .subkommunikation {
            grid-column: 1;
            grid-row: 2;
        }
        
        .subkommunikation .billedtekst {
            grid-column: 1;
        }
        
       .subkommunikation .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
        
/* Præsentationsteknik */
        
        .subpræsentation {
            grid-column: 1;
            grid-row: 3;
        }
        
        .subpræsentation .billedtekst {
            grid-column: 1;
        }
        
       .subpræsentation .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Tekstproduktion Start */
        
        .subtekst {
            grid-column: 1;
            grid-row: 4;
        }
        
        .subtekst .billedtekst {
            grid-column: 1;
        }
        
       .subtekst .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Business Model Canvas */
        
        .subbusiness {
            grid-column: 1;
            grid-row: 5;
        }
        
        .subbusiness .billedtekst {
            grid-column: 1;
        }
        
       .subbusiness .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Quick and dirty */
        
        .subquick {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subquick .billedtekst {
            grid-column: 1;
        }
        
       .subquick .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Virksomhedsbesøg */
        
        .subvirk {
            grid-column: 1;
            grid-row: 2;
        }
        
       .subvirk .billedtekst {
            grid-column: 1;
        }
        
       .subvirk .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Online marketing */
        
        .submark {
            grid-column: 1;
            grid-row: 3;
        }
        
       .submark .billedtekst {
            grid-column: 1;
        }
        
       .submark .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
    
/* Dialog med håndgribelige genstande */
        
        .subdialog {
            grid-column: 1;
            grid-row: 4;
        }
        
       .subdialog .billedtekst {
            grid-column: 1;
        }
        
       .subdialog .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design Thinking */
        
        .subdthinking {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subdthinking .billedtekst {
            grid-column: 1;
        }
        
       .subdthinking .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Design Thinking Projekt */
        
        .subdtprojekt {
            grid-column: 1;
            grid-row:2;
        }
        
       .subdtprojekt .billedtekst {
            grid-column: 1;
        }
        
       .subdtprojekt .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* One Page Projekt */
        
        .subonep {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subonep .billedtekst {
            grid-column: 1;
        }
        
       .subonep .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
        
/* Reflektioner */
        
        .subrefl {
            grid-column: 1;
            grid-row: 1;
        }
        
       .subrefl .billedtekst {
            grid-column: 1;
        }
        
       .subrefl .tiltop {
            grid-column: 1;
            grid-row: 2;
        }
}
